
body {
	padding: 16px 32px;

	font-family: sans-serif;
	font-size: 16px;

	color: DarkSlateGray;
	background: WhiteSmoke;
}

a {
	color: Green;
	font-weight: bold;
}

.symbol-card {
	display: inline-block;
	position: relative;

	cursor: pointer;

	border: 1px solid fade(black, 20%);
	border-radius: 10px;
	border-bottom-width: 3px;
	margin: 2px;

	box-shadow: inset 0 -1px 3px 0 fade(black, 30%);

	width: 70px;
	height: 40px;
	font-size: 40px;
	line-height: 1;
	padding: 15px 0;
	text-align: center;

	background-color: white;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAFklEQVQImWNggAApBixAihhJvIBMYwE8TgDRt9xvaQAAAABJRU5ErkJggg==');
	color: black;

	&-locked {
		background-color: mix(black, white, 30%);
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIElEQVQYlWNgYGCQQsMYAJ+kFAMBSbgCUkzF7yYaSAIAqTcDQaatTAYAAAAASUVORK5CYII=');
		color: mix(black, white, 70%);
	}

	&-unlocked {
		background-color: mix(cyan, white, 10%);
		color: black;

		&.symbol-card-fresh {

			&:after {
				content: "NEW";

				position: absolute;
				top: -3px;
				right: -3px;

				//width: 30px;
				//height: 30px;

				font-size: 12px;
				font-weight: bold;

				padding: 5px;
				border-radius: 5px;
				box-shadow: inset 0 0 5px 0 orange;
				color: orange;

				background: yellow;
			}
		}
	}

	&-confident {
		background-color: lighten(green, 20%);
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAGklEQVQYlWNggAApBgTAyiaogLqKSAJDyvEA8FECcXWy3lcAAAAASUVORK5CYII=');
		color: white;
	}

	&-mastered {
		background-color: mix(purple, white, 80%);
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQYlWNgIBf8//9fiiyFKHxkDl6FyAL4NGFIEuVObCaT5hFC1hEdXDAAAIbBOrbt3YhnAAAAAElFTkSuQmCC');
		color: mix(orange, white, 20%);

		box-shadow: inset 0 -4px 10px 0 fade(orange, 70%);
	}

	&-review {
		&:before, &:after {
			position: absolute;

			left: 0;
			right: 0;

			font-size: 10px;
			//font-weight: bold;
		}

		&:before {
			content: "review";

			top: 5px;
		}

		&:after {
			content: "now";

			bottom: 5px;
		}
	}
}

.kanji {
	width: 150px;
	height: 150px;
	font-size: 150px;

	display: inline-block;
	padding: 20px;
	line-height: 1;

	font-family: monospace;

	border: 4px dashed Silver;
	background: white;
}

.DEBUG {
	outline: 1px dashed red;
}
